.items-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100%;
	background-color: #282c34;
	color: #af223f;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	flex-wrap: wrap;
	flex-basis: 80%;
	padding-bottom: 10em;
}

.card {
	height: 100%;
	width: 17em;
	background-color: #282c34;
	color: white;
	outline: auto;
	outline-color: #4e4e50;
	margin-top: 10px;
}

.card-body {
	display: flex;
	background-color: #282c34;
	align-items: center;
	flex-direction: column;
}

.kortti {
	padding: 5px;
	margin-bottom: 10px;
}


@media screen and (max-width: 1200px) {
	.items-container {
		grid-template-columns: repeat(3, 1fr);
	}
  }
  
  @media screen and (max-width: 768px) {
	.items-container {
		grid-template-columns: repeat(2, 1fr);
	}
  }

  @media screen and (max-width: 576px) {
	.items-container {
		grid-template-columns: repeat(1, 1fr);
	}
  }