.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #C1436D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #0F0C24 #A350A3 #C1436D */
header {
  background-color: #0F0C24;
  color: white; 
  text-align: left;
  height: 100%;
}

.shopcart {
  width: 100%;
  height: auto;
}

.logo {
  margin: auto;
}

body {
  height: 100%;
}

.row {
  padding: 0;
  margin: 0;
}

.nav {
  padding: 0;
}

.navlink {
  text-decoration: none;
  color: white;
  padding: 0.5em 1.5em 0.5em 1.5em;
  width: 100%;
  border-radius: 2px;
}

.navlink:hover {
  color: white;
  background-color: red;
}

.list {
  background-color: #1F194A;
  color: white;
  height: 100%;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.listItem {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.card {
  height: 100%;
}

img {
  scale: 50%;
}

