@import '~bootstrap/scss/bootstrap';
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #282c34;
	color: white;
}
div {
	/* 	outline-style: solid;
	outline-color: #c3073f; */
}
.container {
	height: 100%;
	width: 100%;
	overflow: auto;
}
/* #0F0C24 #A350A3 #C1436D */
/*#1A1A1D #4E4E50 #6F2232 #C3073F*/
body {
	background-color: #1b1b1b;
	color: #af223f;

	height: 100%;
}
.row {
	padding: 0;
	margin: 0;
	height: 10%;
}

.nav {
	padding: 5px;
	display: flex;
}

.navlink {
	text-decoration: none;
	color: white;
	padding: 0.5em 1.5em 0.5em 1.5em;
	width: 100%;
	border-radius: 2px;
	outline-style: auto;
	background-color: #3e3e3e;
}

.navlink:hover {
	color: white;
	background-color: #6f2232;
}

.list {
	color: white;

	width: 100%;
	list-style-type: none;
	text-align: center;
	padding-left: 0;
	outline-style: solid 1px;
}

.listItem {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}

.card {
	height: 100%;
	background-color: #282c34;
	color: white;
	outline: auto;
	outline-color: #4e4e50;
	margin-top: 10px;
}

.card-body {
	display: flex;
	background-color: #282c34;
	align-items: center;
	flex-direction: column;
}

.kortti {
	padding: 5px;
}
