@import '~bootstrap/scss/bootstrap';
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #282c34;
	color: white;
}

.container {
	height: 100%;
	width: 100%;
	overflow: auto;
}
/* #0F0C24 #A350A3 #C1436D */
/*#1A1A1D #4E4E50 #6F2232 #C3073F*/
body {
	background-color: #2b2a2a;
	color: #af223f;

	height: 100%;
}

.card {
	height: 100%;
	background-color: #282c34;
	color: white;
	outline: auto;
	outline-color: #4e4e50;
	margin-top: 10px;
}

.card-body {
	display: flex;
	background-color: #282c34;
	align-items: center;
	flex-direction: column;
}

.kortti {
	padding: 5px;
}
