/*  {
	background-color: #1a1a1d;
	color: #6f2232;
	text-align: left;
	height: 100%;
}
 */
<<<<<<< Updated upstream
#headerdiv {
	width: 100%;
	background-color: #282c34;
=======
#headerdiv,
#textinput {
	margin: 0;
	padding: 0;
	width: 100%;
>>>>>>> Stashed changes
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	color: white;
<<<<<<< Updated upstream
	padding-left: 15px;
=======
>>>>>>> Stashed changes
}
#cartkuva {
	display: flex;

	align-items: center;
}
#jonnenvalinta {
	display: flex;
	align-items: center;
}
.headerkuvat {
	display: flex;
	height: 50px;
	max-height: 100%;
	min-height: 100px;
}
.headerkuvas {
	max-height: 100%;
}
#logokuva {
	max-height: 100px;
}
